.token-file-icon svg{
  width: 0.7em;
  height: 0.7em;
}


.token-uploading-icon svg {
  width: 0.7em;
  height: 0.7em;
  color: #00BD8E;
}

.token-footer-icon svg {
  width: 0.8em;
  height: 0.8em;
  color: #3948FF;
}


.selectTokenList > div {
  max-height: 100%;
}

.pending-token .avatar {
  width: 35px!important;
  height: 35px!important;
  margin-right: 10px;
}
